<!DOCTYPE html>
<html>
<head>
	<title>Array</title>
</head>
<body>
	<nav>
		<ul>
			<li> <a href="home">Home</a></li>
			<li> <a href="about">About</a></li>
			<li> <a href="array">Array</a></li>
		</ul>
	</nav>
	<p>
	There should an array below this called array1.
	</p>
	<p>
	<% 
	array1 = ["shoes", "shorts", "pants", "belt"]
	%>
	<%=
	array1.to_s
	%>
	</p>


</body>
</html>